## Question 1

- `Take two integer numbers and return their product. If the product is greater than 1000, then return their sum if product is less than 1000 return product value only.`

In [27]:
# Please write The solution Here for above question 1:
a = int(input('first num : '))
b = int(input('sec num : '))
if a*b > 1000:
  print('sum : ',a+b)
else:
  print('prod : ',a*b)

first num : 501
sec num : 2
sum :  503

## question 2

- `Given a range of the first 10 numbers, Iterate from the start number to the end number, and In each iteration print the sum of the current number and previous number`

Expected output:
-----------------
    Printing current and previous number sum in a range(10)
    Current Number 0 Previous Number  0  Sum:  0
    Current Number 1 Previous Number  0  Sum:  1
    Current Number 2 Previous Number  1  Sum:  3
    Current Number 3 Previous Number  2  Sum:  5
    Current Number 4 Previous Number  3  Sum:  7
    Current Number 5 Previous Number  4  Sum:  9
    Current Number 6 Previous Number  5  Sum:  11
    Current Number 7 Previous Number  6  Sum:  13
    Current Number 8 Previous Number  7  Sum:  15
    Current Number 9 Previous Number  8  Sum:  17

In [20]:
# Please write The solution Here for above question 2:
a = 0
print('Printing current and previous number sum in a range(10)')
for i in range(10):
  c = a + i
  b = a
  a = i
  print(f'Current Number {i} Previous Number {b} Sum: {c}')

Printing current and previous number sum in a range(10)
Current Number 0 Previous Number 0 Sum: 0
Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17

## question 3

Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string

- Example :
     `("pynative", 4) so output must be tive.`
     
     `Note: n must be less than the length of the string.`

In [8]:
# Please write The solution Here for above question 3:
def rem(n,str):
  if n <= len(str):
    print('output :  ',str[n:])
rem(4,'pynative')

output :   tive

## question 4

### `Given a list of numbers, return True if first and last number of a list is same`

    Expected Output:
    -------------------------------------

    Given list is
    a =  [10, 20, 30, 40, 10]
    b = [10 , 20 , 30 , 40, 10 ]
    result is True

    Given list is  
    a = [10, 20, 30, 40, 50]
    b = [11 , 21 , 31 , 41 , 51 ]
    result is False

In [9]:
# Please write The solution Here for above question 4:
a =  [10, 20, 30, 40, 10]
b = [10 , 20 , 30 , 40, 10 ]
print('Given list is\n')
print(f'a = {a}\n')
print(f'b = {b}\n')
if a[-1]==a[0]:
  if b[-1]==b[0]:
    print('result is True\n')
else:
    print('result is False\n')
a = [10, 20, 30, 40, 50]
b = [11 , 21 , 31 , 41 , 51 ]
print('Given list is\n')
print(f'a = {a}\n')
print(f'b = {b}\n')
if a[0]==a[-1]:
  if b[0]==b[-1]:
    print('result is True\n')
else:
    print('result is False\n')

Given list is

a = [10, 20, 30, 40, 10]

b = [10, 20, 30, 40, 10]

result is True

Given list is

a = [10, 20, 30, 40, 50]

b = [11, 21, 31, 41, 51]

result is False

## question 5

### Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

    list1 = [10, 20, 30, 40]
    list2 = [100, 200, 300, 400]


    Expected output:
    -----------------------------
    10 400
    20 300
    30 200
    40 100

In [13]:
# Please write The solution Here for above question 5:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i in range(len(list1)):
  print(list1[i] ,list2[len(list2)-i-1])

10 400
20 300
30 200
40 100

## question 6

### Remove empty strings from the list of strings


    list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

    Expected output:
    ----------------------

    ["Mike", "Emma", "Kelly", "Brad"]

In [14]:
# Please write The solution Here for above question 6:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
for i in list1:
  if len(i) == 0:
    list1.remove(i)
print(list1)

['Mike', 'Emma', 'Kelly', 'Brad']